<h1>NgRx Research</h1>
<p>
  This is a research project to learn about NgRx and how it can be used in an
  Angular application. The application is a simple todo list that allows the
  user to add, edit, and delete items from the list.
</p>
<p>
  Signals are used to communicate among NgRx store and components and services.
</p>
<p>
  The application is built using Angular 16 and NgRx 16. The application is
  deployed to GitHub Pages and can be viewed at
  <a href="https://ngrx-research.web.app/" target="_blank"
    >https://ngrx-research.web.app/</a
  >.
</p>
<ul class="ml-6 mt-12 list-disc">
  <li>
    See <a class="underline underline-offset-4 text-indigo-500" routerLink="/ngrx-entity-with-signals" >NgRx Entity with Signals</a>
  </li>
  <li class="mt-6">
    See <a class="underline underline-offset-4 text-indigo-500" routerLink="/signal-entity-store" >Signal Entity Store</a>
  </li>
</ul>
