<h1>NgRx Research</h1>
<p>
  This is a research project to learn about NgRx and how it can be used in an
  Angular application. The application is a simple todo list that allows the
  user to add, edit, and delete items from the list.
</p>
<p>
  Signals are used to communicate among NgRx store and components and services.
</p>
<p>
  The application is built using Angular 16 and NgRx 16. The application is
  deployed to GitHub Pages and can be viewed at
  <a href="https://jasonhodges.github.io/ngrx-research/" target="_blank"
    >https://jasonhodges.github.io/ngrx-research/</a
  >.
</p>
